title {
    background-color: #939473;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(176, 206, 213);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    color: rgb(176, 206, 213);
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    background-color: #0a4b75;
    color: rgb(176, 206, 213);
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    text-align:end;
    background-color: #0a4b75;
    color: rgb(176, 206, 213);
    font-size: 18;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ListIndex{
    color:#fb6f24;
    font-size: 18pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 24px;
    color: rgb(176, 206, 213);
    align-content: center;
    font-family:'Times New Roman', Times, serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

nav a {
    text-decoration: none;
    display: grid;
    font-size: 32px;
    padding: 6px 10px;
    text-align: center;
    background-color: #fb6f24;
    color: #1e6495;
    font-family: sans-serif;
}

nav a:hover {
    background-color: #777777;
    margin-right: black;
    margin-left: black;
    color: #ffffff;
}

body {
    width: 95vw;
    height: 95vh;
    float: center;
    background-color: #0a4b75;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

main {
    float:inherit;
    width: 90vw;
    height: 75vh;
    }

article {
    float: center;
    background-color: #1e6495;
    padding: 20px 20px;
    grid-area: auto;
    min-height: calc(100vh - 70px);
    flex:1 ;
}

form{
    align-content:flex-end;    
}

footer {
    float: inline-end;
    align-self: end;
    text-align: end;
    color: white;
    height: 10px;
}


Img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#NeadLogo{
    display:block ;
    margin-left: auto;
    margin-right: auto;
}
