title {
    background-color: #939473;

}

h1 {
    color: rgb(176, 206, 213);
    text-align: center;
    font-size: 36px;
    font-style: normal;
}

h2 {
    text-align: center;
    color: rgb(176, 206, 213);
    font-size: 18;
}

h3 {
    text-align: center;
    background-color: #0a4b75;
    color: rgb(176, 206, 213);
    font-size: 18;
}

p {
    font-size: 24px;
    color: rgb(176, 206, 213);
    align-content: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

nav a {
    text-decoration: none;
    display: grid;
    font-size: 32px;
    padding: 6px 10px;
    text-align: center;
    background-color: #fb6f24;
    color: #1e6495;
    font-family: sans-serif;
}

nav a:hover {
    background-color: #777777;
    margin-right: black;
    margin-left: black;
    color: #ffffff;
}

body {
    width: 95vw;
    height: 95vh;
    float: center;
    background-color: #0a4b75;
}

main {
    float:inherit;
    width: 90vw;
    height: 75vh;
}

article {
    float: center;
    background-color: #1e6495;
    padding: 20px 20px;
    grid-area: auto;
}

form{
    align-content:flex-end;    
}

footer {
    float: inline-end;
    align-self: end;
    text-align: end;
    color: white;
}